<h1>Sneakers</h1>

{{#if sneakers.length}}
<div class="sneakers-list">
{{#each sneakers}}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-image">
                    <img src="{{img}}" alt="{{model}}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{brand}}</span>
                    <span class="model">{{model}}</span>
                    <p class="price">{{price}}</p>
                </div>
                <div class="card-action">
                    <a href="/sneakers/{{id}}">Open sneaker</a>
                    <a href="/sneakers/{{id}}/edit?allow=true">Edit sneaker</a>
                </div>
            </div>
        </div>
    </div>
{{/each}}
</div>
{{else}}
<p>No sneakers yet</p>
{{/if}}